{% extends 'header.html' %}

{% block content %}

{% load static %}

<div class="row">

 <div class="col-sm-10">
 I am a petroleum engineer currently working as a postdoc in the UT PGE Hydraulic Fracturing Research group. Skilled in hydraulic fracture monitoring, well-logging, computational electromagnetics, inverse problems and fracture/reservoir modeling. I am passioned in coding and believe in open source softwares.
<br><br>
My Ph.D. research was about building an experimentally verified electromagnetic induction logging tool that can detect and appraise hydraulic fractures. The method is a promising candidate to find out the propped fracture parameters which is very important to the operation design and reserve estimation studies.
 </div>

 <div class="col-sm-2">
 <img src="{% static 'img/profile.jpg' %}" style='max-height:200px;'>
 </div>

</div>

{% endblock content %}
